<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woc.jangarana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jangarana">
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonWiseData"
            android:exported="true">

        </activity>
        <activity
            android:name=".authentication.LoadingScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.Jangarana" />
        <activity
            android:name=".authentication.staff.StaffLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Jangarana" />
        <activity
            android:name=".staff.StaffDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Jangarana" />
        <activity
            android:name=".familyhead.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Jangarana" />
        <activity
            android:name=".authentication.familyhead.VerifyEmailActivity"
            android:exported="false"
            android:theme="@style/Theme.Jangarana" />
        <activity
            android:name=".authentication.LoginOptionsActivity"
            android:exported="false"
            android:theme="@style/Theme.Jangarana" />
        <activity
            android:name=".authentication.familyhead.FamilyHeadSignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Jangarana" />
        <activity
            android:name=".HouseholdWiseData"
            android:exported="true"
            android:theme="@style/Theme.Jangarana"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>